@import 'common/px2rem.scss';
.head-area {
    margin: px2rem(15);
    padding:0 px2rem(35); 
    height: px2rem(80);
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #EEEEEE;
    .activity-cate {
        flex:1;
        line-height: px2rem(80);
        text-align: center;
        span{
            height: px2rem(80);
            display: inline-block;
            color:black
        }
        .select{
            border-bottom: 2px solid #F24848;  
            color: #F24848;
        }
    }
}
.item{
    padding-left: px2rem(35);
    padding-right: px2rem(35);
    position: relative;
    & > .article:not(:last-child) {
        border-bottom: 1px solid rgba(238,238,238,1);
    }
    & > .article{
        display: flex;
        align-items: center;
        height: px2rem(199);
        box-sizing: border-box;
        padding: px2rem(27) 0;
        .left{
            margin: 0 px2rem(48) 0 px2rem(17);
            height: px2rem(145);
            width: px2rem(225);
            img{
                display: block;
                height: 100%;
                width: 100%;
            }
        }
        .right{
            height: 100%;
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .content{
                font-size:px2rem(30);
                font-family:SourceHanSansCN-Normal;
                color:rgba(20,20,20,1);
                line-height:px2rem(36);
            }
            .date{
                font-size:px2rem(24);
                font-family:Roboto-Regular;
                color:rgba(148,148,148,1);
                display: flex;
                display: -webkit-flex;
                -webkit-justify-content: space-between;
                justify-content: space-between;
            }
        }
    }
}
.footer{
    position: static !important;
    .footer{
        margin-top: 0px !important;
    }
}
.overflow-two-line {
	height: 1.4rem;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
}
.pub-status{
    width: 2.9866666667rem;
    height: 0.8533333333rem;
    line-height: 0.8533333333rem;
    border-radius: 0.4266666667rem;
    text-align: center;
    color:white;
}