@charset "UTF-8";
.main_content {
  padding: 0px 0.7466666667rem 20px 0.7466666667rem;
  background-color: white; }
  .main_content .header {
    padding: 1.1733333333rem 0 1.0666666667rem 0;
    font-size: 1.024rem;
    line-height: 1.2373333333rem;
    border-bottom: 1px solid #EEEEEE; }
  .main_content .content-box {
    padding-top: 0.128rem; }
    .main_content .content-box .content {
      margin-top: 0.9813333333rem;
      font-size: 0.64rem;
      line-height: 0.8533333333rem; }
    .main_content .content-box .file:first-of-type {
      border-top: 1px solid #EEEEEE; }
    .main_content .content-box .sub-btn {
      margin-top: 2.496rem; }
  .main_content .sign-up-area {
    margin-top: 1.1946666667rem;
    padding-top: 0.64rem;
    margin-bottom: 0.768rem;
    border-top: 1px solid #EEEEEE; }
    .main_content .sign-up-area .area-title {
      font-size: 0.64rem; }
      .main_content .sign-up-area .area-title .open-names {
        float: right;
        font-size: 0.512rem; }
    .main_content .sign-up-area .names {
      margin-top: 0.2133333333rem;
      padding-bottom: 0.8533333333rem;
      color: #949494;
      font-size: 0.512rem;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      line-height: 0.8533333333rem; }
      .main_content .sign-up-area .names div {
        padding-left: 5px;
        padding-right: 5px; }

.activity-content {
  background-color: white;
  border-top: 0.2346666667rem solid #F8F8F8;
  padding: 0 0.7466666667rem;
  padding-bottom: 1.5786666667rem; }
  .activity-content .title {
    height: 2.2613333333rem;
    border-bottom: 1px solid #EEEEEE;
    font-size: 0.768rem;
    line-height: 2.2613333333rem;
    padding-left: 5px; }
  .activity-content .content {
    margin-top: 1.408rem;
    color: #141414;
    font-size: 0.64rem;
    margin-bottom: 0.6826666667rem; }
  .activity-content .img-area {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%; }
    .activity-content .img-area .img-wrap {
      width: calc(33.3% - 8px);
      /* 这里设置占屏幕宽度百分比 */
      margin: 0 auto; }
      .activity-content .img-area .img-wrap .img-container {
        width: 100%;
        height: 0px;
        padding-bottom: 100%;
        overflow: hidden;
        margin: 0;
        position: relative; }
        .activity-content .img-area .img-wrap .img-container img {
          position: absolute;
          width: 100%;
          height: 100%; }
  .activity-content .result-time {
    color: #949494;
    font-size: 0.512rem;
    margin: 0.7466666667rem 0 1.152rem 0; }
  .activity-content .pub-area {
    border-top: 1px solid #EEEEEE;
    padding-top: 0.4266666667rem; }

.activity-result, #btn-area {
  margin-top: 1.7706666667rem;
  text-align: center; }
  .activity-result .pass, .activity-result .nopass, #btn-area .pass, #btn-area .nopass {
    width: 35.3%;
    height: 1.7066666667rem;
    font-size: 0.64rem;
    line-height: 1.7066666667rem;
    color: white;
    text-align: center;
    display: inline-block;
    border-radius: 0.1706666667rem; }
  .activity-result .pass, #btn-area .pass {
    background-color: #FF0000; }
  .activity-result .nopass, #btn-area .nopass {
    margin-left: 1.28rem;
    background-color: #949494; }

.comment-content {
  background-color: white; }

/*# sourceMappingURL=activityDetail.css.map */
