@import 'common/px2rem.scss';
body {
    background-color: #f8f8f8;
}

.result-area {
    margin-top: px2rem(146);
    width: 70%;
    margin-left: 15%;
    height: px2rem(427);
    background-color: white;
    display: inline-block;
    text-align: center;
    img {
        margin-top: px2rem(106);
        width: px2rem(178);
        height: px2rem(178);
    }
}

.result-des {
    margin-top: px2rem(33);
    font-size: px2rem(30);
    color: #141414;
}