@import 'common/px2rem.scss';
* {
    margin: 0;
    padding: 0;
    font-family: -apple-system-font, "Helvetica Neue", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", sans-serif; 

}
body{
    background-color: #F8F8F8;
}
@media screen and (max-width: 768px) {
    #pc-header{
        display: none;
    }
    #pc-footer{
		display: none;
	}
    .search-area{
        background-color: white;
        width:100%;
        height: px2rem(110);
        text-align: center;
        .search-position{
            margin-top: px2rem(20);
            width:px2rem(620);
            height: px2rem(60);
            display: inline-block;
        }
        .searc-content{
            float: left;
            height: px2rem(60);
            width:px2rem(470);
            background: #EEEEEE;
            border-top-left-radius: px2rem(30);
            border-bottom-left-radius: px2rem(30);
            color: #949494;
            display: inline-flex;
        }
        .search-icon{
            padding-left: px2rem(39);
            padding-right: px2rem(20);
            font-size: px2rem(28);
            height: px2rem(60);
            line-height:px2rem(60);
        }
        .search-input{
            width:px2rem(390);
            height: px2rem(60);
            border: none;
            background: #EEEEEE;
            outline: none;
        }
        .search-btn{
            float: left;
            color: white;
            width:px2rem(150);
            height: px2rem(60);
            background: -moz-linear-gradient(to bottom right, #F14747, #BD1818);
            background: -webkit-linear-gradient(to bottom right, #F14747, #BD1818);
            background: -o-linear-gradient(to bottom right, #F14747, #BD1818);
            background: -ms-linear-gradient(to bottom right, #F14747, #BD1818);
            background: linear-gradient(to bottom right, #f27575, #E94040, #BD1818);
            text-align: center;
            line-height: px2rem(60);
            border-top-right-radius: px2rem(30);
            border-bottom-right-radius: px2rem(30);
        }
    }
    // 商品展示区域
    .goods-area{
        border-top: px2rem(10) solid #F8F8F8;
        
    }
    .goods-item{
        float: left;
        margin: px2rem(10);
        width:px2rem(330);
        height: px2rem(493);
        background: white;
        img{
            margin-top: px2rem(51);
            margin-left: px2rem(60);
            width:px2rem(210);
            height: px2rem(210);
        }
        .item-title{
            margin-top:px2rem(74);
            margin-left:px2rem(22);
            width:px2rem(286);
            font-size:px2rem(24);
            height: px2rem(53);
            line-height:px2rem(30);
        }
        .item-point{
            float: left;
            margin-top:px2rem(51);
            margin-left: px2rem(21);
            font-size:px2rem(24);
            line-height: px2rem(36);
            color:rgba(148,148,148,1);
        }
        .item-btn{
            float: right;
            margin-top:px2rem(42);
            margin-right:px2rem(26);
            width:px2rem(120);
            height:px2rem(40);
            background:rgba(242,72,72,1);
            border-radius:px2rem(4);
            color: white;
            text-align: center;
            line-height:px2rem(40);
        }
    }
}
@media screen and (min-width: 768px) {
    .search-area{
        width:1000px;
        height:88px;
        background:rgba(255,255,255,1);
        text-align: center;
        margin: 12px auto 20px;
        .search-position{
            margin-top: px2rem(20);
            width:px2rem(620);
            height: px2rem(60);
            display: inline-block;
        }
        .searc-content{
            float: left;
            height: px2rem(60);
            width:px2rem(470);
            background: #EEEEEE;
            border-top-left-radius: px2rem(30);
            border-bottom-left-radius: px2rem(30);
            color: #949494;
            display: inline-flex;
        }
        .search-icon{
            padding-left: px2rem(39);
            padding-right: px2rem(20);
            font-size: px2rem(28);
            height: px2rem(60);
            line-height:px2rem(60);
        }
        .search-input{
            width:px2rem(390);
            height: px2rem(60);
            border: none;
            background: #EEEEEE;
            outline: none;
        }
        .search-btn{
            float: left;
            color: white;
            width:px2rem(150);
            height: px2rem(60);
            background: -moz-linear-gradient(to bottom right, #F14747, #BD1818);
            background: -webkit-linear-gradient(to bottom right, #F14747, #BD1818);
            background: -o-linear-gradient(to bottom right, #F14747, #BD1818);
            background: -ms-linear-gradient(to bottom right, #F14747, #BD1818);
            background: linear-gradient(to bottom right, #f27575, #E94040, #BD1818);
            text-align: center;
            line-height: px2rem(60);
            border-top-right-radius: px2rem(30);
            border-bottom-right-radius: px2rem(30);
        }
    }
    // 商品展示区域
    .goods-area{
        width: 1000px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .goods-item{
        margin-bottom: 20px;
        width:242px;
        height: 343px;
        background: white;
        img{
            margin: 30px 38px;
            width:166px;
            height:166px;
        }
        .item-title{
            margin-left:19px;
            margin-bottom: 27px;
            width:197px;
            height:42px;
            font-size:18px;
            font-family:SourceHanSansCN-Normal;
            color:rgba(0,0,0,1);
            line-height:24px;
        }
        .item-point{
            float: left;
            margin-left: 21px;
            font-size:18px;
            font-family:SourceHanSansCN-Normal;
            color:rgba(148,148,148,1);
            line-height:26px;
        }
        .item-btn{
            float: right;
            margin-right:19px;
            text-align: center;
            line-height:26px;
            width:90px;
            height:26px;
            background:rgba(242,72,72,1);
            border-radius:4px;
            font-size:16px;
            font-family:SourceHanSansCN-Normal;
            color:rgba(255,255,255,1);
        }
    }
}
