@import 'common/px2rem.scss';
.goods-img{
    width: 100%;
    height: auto !important;
}
.good-intro{
    padding: 15px 19px;
    .goods-info{
        width: 100%;
        height: px2rem(35);
        .goods-title{
            float: left;
            width:80%;
            font-size: px2rem(30);
            color:rgba(20,20,20,1);
            line-height: px2rem(35);
        }
        .num{
            float: left;
            width:20%;
            text-align: right;
            color:#949494;
            font-size: px2rem(24);
            line-break: px2rem(35);
        }
    }
    .points{
        font-size:px2rem(30);
        color:rgba(229,36,36,1);
        line-height:px2rem(48);
    }
    .time{
        margin-top:px2rem(72);
        font-size:px2rem(24);
        color:#949494;
        padding-top: px2rem(21);
        border-top: 1px solid #EEEEEE;
        
    }
}
.goods-detail{
    padding: 0px 15px 20px 15px;
    border-top: px2rem(20) solid #F8F8F8;
    border-bottom:1px solid #F8F8F8;
    .detail-title{
        padding:px2rem(30) 10px;
        height: px2rem(100);
        line-height: px2rem(60);
        color: #141414;
        font-size: px2rem(36);
        border-bottom: 1px solid #EEEEEE;
    }
    .detail-content{
        margin-top:px2rem(47);
        font-size: px2em(30);
        color: #141414;
    }
}
.sub-btn{
    margin-top:px2rem(74); 
}