* {
	margin: 0;
	padding: 0;
	font-family: -apple-system-font, "Helvetica Neue", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
}

.clear:after {
	display: block;
	content: "";
	clear: both;
}

.container>.row {
	background-color: #f8f8f8;
}

.main_content {
	background-color: #fff;
	margin-top: 0.768rem;
	padding: 0 0.74667rem 0.74667rem 0.74667rem;
}

.main_content .header .title {
	color: #141414;
	font-size: 1.024rem;
	padding-top: 0.704rem;
}

.main_content .header .time-box {
	color: #949494;
	font-size: 0.64rem;
	margin-top: 0.53333rem;
}

.we_dels {
	width: 100%;
	height: auto;
	overflow: hidden;
	border-bottom: 1px solid #eee;
}

.main_content .header .source-box {
	width: 70%;
	float: left;
	height: auto;
	color: #949494;
	font-size: 0.64rem;
	margin-top: 0.53333rem;
	padding-bottom: 1.10933rem;
	
}

.main_content .header .author-box {
	color: #949494;
	font-size: 0.64rem;
	margin-top: 1.28rem;
	position: relative;
}

.main_content .header .person-box {
	height: auto;
	width: 30%;
	float: left;
	text-align: right;
	color: #949494;
	font-size: 0.512rem;
	padding: 0.869rem 0;
}

.main_content .header .author-box .study-time {
	position: absolute;
	right: 0;
	bottom: 0;
	color: #949494;
	font-size: 0.512rem;
}

.main_content .content-box .content {
	padding-top: 0.85333rem;
	color: #141414;
	font-size: 0.64rem;
}
.content-box{width: 100%;height: auto;overflow: hidden;}
.main_content .content-box .content img {
	display: inline-block;
	width: 100%!important;
	height: auto;
}


/*.main_content .content-box .person-box {
  	height: auto;
  	width: 30%;float: left;
    text-align: right;
    color: #949494;
    font-size: 0.512rem;
    padding: 0.768rem 0;
    border-bottom: 1px solid #eee; }*/

.main_content .content-box .file {
	padding: 1.17333rem 0;
}

.footermid {
	background-color: #fff;
	margin-top: 0.768rem;
	padding: 0 0.74667rem 0.74667rem 0.74667rem;
}

.footermid .title {
	padding-top: 0.96rem;
	padding-bottom: 0.576rem;
	font-size: 0.768rem;
	color: #141414;
	border-bottom: 1px solid #eee;
}

.footermid .content .question {
	color: #141414;
	font-size: 0.64rem;
	padding-top: 0.768rem;
}

.footermid .content .answer {
	border-bottom: 1px solid #eee;
	padding-bottom: 0.96rem;
}

.footermid .content .answer .demo--label {
	padding: 20px 20px 0 0;
	display: inline-block;
	min-width: 40%;
	color: #141414;
	font-size: 0.64rem;
	font-weight: normal;
}

.demo--radio {
	display: none
}

.demo--radioInput {
	background-color: #fff;
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-radius: 100%;
	display: inline-block;
	height: 16px;
	margin-right: 10px;
	margin-top: -3px;
	vertical-align: middle;
	width: 16px;
	line-height: 1
}

.demo--radio:checked+.demo--radioInput:after {
	background-color: #E51A1A;
	border-radius: 100%;
	content: "";
	display: block;
	height: 8px;
	margin-left: 3px;
	margin-top: 3px;
	width: 8px
}

.demo--checkbox.demo--radioInput,
.demo--radio:checked+.demo--checkbox.demo--radioInput:after {
	border-radius: 0
}

.demo--radio:checked+.demo--radioInput {
	border: 1px solid #E51A1A;
}

.footermid .submit-box {
	display: none;
	padding: 2.45333rem 0rem 1.6rem 0;
	text-align: center;
}

.footermid .submit-box .answer-submit {
	width: 85%;
	height: 1.792rem;
	color: #fff;
	font-size: 0.64rem;
	outline: none;
	border: none;
	background: -moz-linear-gradient(to bottom right, #FF5454, #E51A1A);
	background: -webkit-linear-gradient(to bottom right, #FF5454, #E51A1A);
	background: -o-linear-gradient(to bottom right, #FF5454, #E51A1A);
	background: -ms-linear-gradient(to bottom right, #FF5454, #E51A1A);
	background: linear-gradient(to bottom right, #FF5454, #E51A1A);
}
.filebackbg{display: inline-block;width:22px;height: 22px;}
.filebackbg img{display: block;width:100%;margin-top: 5px;}
