* {
  margin: 0;
  padding: 0;
  font-family: -apple-system-font, "Helvetica Neue", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", sans-serif; }

.clear:after {
  display: block;
  content: "";
  clear: both; }

.search .input-group {
  width: 100%;
  padding: 0.5333333333rem 1.6rem;
  height: 1.28rem;
  position: relative; }
  .search .input-group .form-control {
    height: 1.28rem;
    background-color: #eee;
    padding-left: 1.7066666667rem;
    color: #949494;
    font-size: 0.64rem;
    border: none;
    box-shadow: none;
    border-radius: 0.5973333333rem 0 0 0.5973333333rem;
    height: 100%; }
  .search .input-group .input-group-btn {
    width: 3.2rem; }
    .search .input-group .input-group-btn .btn-default {
      width: 100%;
      background: -moz-linear-gradient(to bottom right, #FF5454, #E51A1A);
      background: -webkit-linear-gradient(to bottom right, #FF5454, #E51A1A);
      background: -o-linear-gradient(to bottom right, #FF5454, #E51A1A);
      background: -ms-linear-gradient(to bottom right, #FF5454, #E51A1A);
      background: linear-gradient(to bottom right, #FF5454, #E51A1A);
      color: #fff;
      font-size: 0.64rem;
      border: none;
      border-radius: 0 0.5973333333rem 0.5973333333rem 0;
      outline: none; }
    .search .input-group .input-group-btn .btn-default:focus {
      border: none; }
  .search .input-group .glyphicon-search {
    position: absolute;
    left: 2.4533333333rem;
    top: 50%;
    margin-top: -0.2986666667rem;
    font-size: 0.5973333333rem;
    color: #949494;
    z-index: 10; }

.main_content {
  background-color: #f8f8f8;
  padding-top: 0.4266666667rem; }
  .main_content .list-box {
    background-color: #fff; }
    .main_content .list-box .list-header {
      padding: 0.5546666667rem 0.64rem;
      border-bottom: 1px solid #eee;
      background-color: #f6f6f6;
      cursor: pointer; }
      .main_content .list-box .list-header .glyphicon-book {
        font-size: 0.7253333333rem;
        color: #FF5555; }
      .main_content .list-box .list-header .title {
        font-size: 0.768rem;
        color: #0F0F0F; }
      .main_content .list-box .list-header .more {
        float: right;
        color: #949494;
        font-size: 0.512rem; }
    .main_content .list-box .dropdown-menu {
      width: 100%;
      border: none; }
      .main_content .list-box .dropdown-menu li {
        height: 1.4506666667rem;
        line-height: 1.4506666667rem;
        margin: 0 0.7466666667rem;
        border-bottom: 1px solid #eee;
        color: #949494;
        font-size: 0.512rem; }
    .main_content .list-box .list-body {
      padding: 0.5546666667rem 0.8533333333rem; }
      .main_content .list-box .list-body .list-top {
        padding-bottom: 0.4266666667rem; }
        .main_content .list-box .list-body .list-top .media {
          margin-top: 0; }
          .main_content .list-box .list-body .list-top .media .media-body {
            padding-top: 0.4266666667rem; }
            .main_content .list-box .list-body .list-top .media .media-body .media-heading {
              color: #141414;
              font-size: 0.64rem; }
          .main_content .list-box .list-body .list-top .media .media-object {
            width: 6.9333333333rem;
            height: 4.8rem; }
      .main_content .list-box .list-body .list-bottom .media {
        padding: 0.4266666667rem 0;
        border-bottom: 1px solid #eee;
        margin-top: 0; }
        .main_content .list-box .list-body .list-bottom .media .media-body {
          position: relative; }
          .main_content .list-box .list-body .list-bottom .media .media-body .media-heading {
            color: #141414;
            font-size: 0.64rem; }
          .main_content .list-box .list-body .list-bottom .media .media-body .list-time {
            position: absolute;
            left: 0;
            bottom: 0;
            color: #949494;
            font-size: 0.512rem; }
          .main_content .list-box .list-body .list-bottom .media .media-body .study-time {
            position: absolute;
            right: 0;
            bottom: 0;
            color: #949494;
            font-size: 0.512rem; }
        .main_content .list-box .list-body .list-bottom .media .media-object {
          width: 4.8rem;
          height: 3.0933333333rem; }
  .main_content .list-box:not(:first-child) {
    margin-top: 0.4266666667rem; }

/*# sourceMappingURL=partyLearning_list.css.map */
