<Eagles>
  <!--登陆失败锁定次数 int-->
  <LoginErrorCount>6</LoginErrorCount>
  <!--分钟 double 类型-->
  <LockingTime>30</LockingTime>
  <!--失败多少次后需要进行验证码验证-->
  <CheckVerificationCode>3</CheckVerificationCode>
  <!--上传图片存放目录-->
  <FilePath>D:\Images\</FilePath>
  <!--图片网址-->
  <ImageBaseUrl>http://51service.xyz/Images/</ImageBaseUrl>
  <ActivityNoticeUrl>活动有新通知</ActivityNoticeUrl>
  <TaskNoticeUrl>任务有新通知</TaskNoticeUrl>
  <ExportPath>D:\ExportFile\</ExportPath>
</Eagles>