<Eagles>
  <!--登陆失败锁定次数 int-->
  <LoginErrorCount>6</LoginErrorCount>
  <!--分钟 double 类型-->
  <LockingTime>30</LockingTime>
  <!--失败多少次后需要进行验证码验证-->
  <CheckVerificationCode>3</CheckVerificationCode>
  <!--上传图片存放目录-->
  <FilePath>D:\Images\</FilePath>
  <!--图片网址-->
  <ImageBaseUrl>http://51service.xyz/Images/</ImageBaseUrl>
  <ActivityNoticeUrl>http://51service.xyz/App/activityDetail.html?appId={0}&activityId={1}</ActivityNoticeUrl>
  <TaskNoticeUrl>http://51service.xyz/App/taskDetail.html?appId={0}&taskId={1}</TaskNoticeUrl>
  <TokenExpTime>30</TokenExpTime>
</Eagles>