* {
    margin: 0;
    padding: 0;
    font-family: -apple-system-font, "Helvetica Neue", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
}

.bg-color {
    background-color: #f8f8f8;
}

.line-color {
    background: -moz-linear-gradient(to bottom right, #f14747, #bd1818);
    background: -webkit-linear-gradient(to bottom right, #f14747, #bd1818);
    background: -o-linear-gradient(to bottom right, #f14747, #bd1818);
    background: -ms-linear-gradient(to bottom right, #f14747, #bd1818);
    background: linear-gradient(to bottom right, #f27575, #e94040, #bd1818);
}

.sub-btn {
    width: 70%;
    margin-left: 15%;
    font-size: 0.64rem;
    height: 1.792rem;
    margin-bottom: 1.8773333333rem;
    text-align: center;
    line-height: 1.792rem;
    color: white;
    border-radius: 0.1706666667rem;
    background-color: #ee2f2f;
    letter-spacing: 5px;
}

.file {
    padding-top: 0.64rem;
    display: flex;
}
.file-oper{
    justify-content: space-between;
}
.file img {
    width:1rem;
    height: 1rem;
}
.file a{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    line-height: 1.2rem;
}
.file .glyphicon-remove{
    color: red;
    font-size: 0.8rem;
}

@media screen and (min-width: 1024px) {
    .weui-dialog {
        max-width: 80% !important;
        width: 80%;
    }
}

.modal textarea {
    height: 80%;
    min-height: 200px;
    width: 100%;
    padding: 5px;
    border: 1px solid #eeeeee;
    outline: none;
    resize: none;
    font-size: 0.64rem;
}

.modal .tip {
    color: red;
    padding: 5px 15px;
}

.pc-wrap {
    width: 1000px;
    margin: 0 auto;
}

.pc-nav-wrap .logo {
    text-align: left;
}

.flag-area {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 0.7rem;
}
.pub-area {
    margin-top: 1.7066666667rem;
    font-size: 0.64rem;
}
.pub-flag {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}
button{
    border: none;
    background: transparent;
    outline: none;
}


/* 上传文件 */

.img-area {
    margin-top: 0.96rem;
    padding-bottom: 0.67rem;
    border-bottom: 1px solid #eeeeee;
}

.img-area .title {
    font-size: 0.512rem;
    height: 1.1093333333rem;
    line-height: 1.1093333333rem;
    color: #949494;
}

.upload-file {
    width: 4.6rem;
    height: 1.4rem;
    border-radius: 0.2rem;
    position: relative;
    text-align: center;
    background-color: #ee2f2f;
    color: white;
    line-height: 1.4rem;
}

.upload-file input {
    position: absolute;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
}

.upload-progress {
    border-radius: 5px;
    width: 100%;
    max-width: 400px;
    background: #f6f6f6;
    margin: 15px 0px;
}

.bar {
    height: 10px;
    border-radius: 5px;
    background: #ec340f;
}

@media screen and (max-width: 768px) {
    .mobile-container {
        padding-top: 1.7rem;
    }
    .list-content {
        top: 1.7rem;
        bottom: 0;
        position: absolute;
        left: 0;
        width: 100%;
    }
}

@media screen and (min-width: 769px) {
    .list-content {
        height: 600px !important;
    }
}